// mapserver template
[resultset layer=DEFAULT]
{
  "type": "FeatureCollection",
  "features": [
    [feature trimlast=","]
    {
      "type": "Feature",
      "id": "[myuniqueid]",
      "geometry": {
        "type": "Point",
        "coordinates": [[lon], [lat]]
      },
      "properties": {
        "raw_taxon_name": "[raw_taxon_name]"
      }
    },
    [/feature]
  ]
}
[/resultset]
